*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
}

.body{
    background-color: lightgray;
    color:#333;
}

/* Header Styling */

.header{
        background-color:  #0d1553a7;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 30px;     
        position: fixed;
        width: 100%;
        top: 0; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.header a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-weight: bold;
    margin-left: 20px;
}

.header ul{
    display: flex;
    list-style: none;
}

.header li{
    margin-right:50px;

}

.header a:hover{
    color: orange;
}

/* Brand Name Styling */
.brandName{
    font-family:'lucida handwriting', cursive;
    font-weight: bold;
    color: white;
    margin-right: auto;
    text-decoration: none;
    letter-spacing: 2px;
    text-align: center;
    flex-grow:1;
    
}


/* Categories in the header */
.category-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}


.category-links li {
    margin-right: 15px;
}


.category-links a {
   text-decoration: none;
   color: #fff;
   background-color: #0d1553;
   padding: 10px 20px;
   border-radius: 30px;
   font-size: 14px;
   font-weight: bold;
   display: inline-block;
}


.category-links a:hover {
   background-color: #FFD700;
   color: #000;
}

/* Active category styling (if selected) */
.category-links a.active {
    background-color: #4CAF50;
    color: white;
}



/* Main Content Styling */

.main{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    justify-items: center;
    padding: 20px;

    
}

.product{
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 12x rgba(0, 0, 0, 0.1);
    margin: 20px;
    border: 2px solid black;
    max-width: 300px;
    padding: 30px;
    text-align: center;

}

.product:hover{
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);

}

  .product a{
    display:block;
    text-decoration: none;
    color: black;
    background-color: #5e94b8ff;
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    
}

.product a:hover{
    background-color: darkorange;
}

.product h2{
    margin: 15px 0;
    font-size: 18px;
    color: #333;
    font-weight: bold;
}


.product p{
    fomnt-size: 14px;
    color: #666;
}



/* Product Image Styling */ 

.product img{
    width: 100px;
    height: 200px;
    object-fit: cover;
    border-bottom: 2px solid black;
}

.product .productPrice{
    font-weight: bold;
    font-size: 18px;
    color: #E74C3C; 
    margin: 10px 0;
}



/* Footer Styling */

.footer{
    text-align: center;
    background-color: lightblue;
    color: white;
    position:sticky;
    bottom: 0;
    padding: 5px;
    width: 100%;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}

.footer p{
    text-align: center;
    font-size: 14px;
    color: black;
}


/* input type design */ 

input[type="number"] {
width: 60%; 
padding: 6px; 
font-size: 12px;
margin-top: 5px;
}

input[type="number"]::placeholder {
font-size: 10px; 
color: #888;
padding-left: 20px;
}

input[type="submit"] {
background-color: #ed7b61; 
color: white; 
padding: 10px 20px;
border: none; 
border-radius: 5px; 
cursor: alias; 
}

input[type="submit"]:hover {
background-color: #ff1100; 
}
